# macOS
.DS_Store

# VS Code
.vscode

# Python
__pycache__
*.pyc
*.egg-info
dist
.ipynb_checkpoints

# Images
imgs
imgs_resized
imgs_holdout

# Huggingface Datasets
data_backup

# Raw crowdsourcing data
db_backups
