# macOS
.DS_Store

# VS Code
.vscode
.zed

# Python
__pycache__
*.pyc
*.egg-info
dist
.ipynb_checkpoints
*.pkl

# Test modules
test_modules

# Images
imgs
imgs_occluded
imgs_resized
graph_plots
*.pdf

# Huggingface Datasets
data_backup

# Raw crowdsourcing data
db_backups

# Model checkpoints stored on server
*model_checkpoint
*.pth
*.onnx
*.pt
*.ts

# Folder with extra data
backups
