{% extends 'base.html' %}

{% block title %} Crowdsourcing Completed {% endblock %}

{% block body %}

  <div>
    <h2 class="mx-4 mt-4 mb-2 text-center">Crowdsourcing Completed</h2>
  </div>
  <hr>
  <div class="my-2 mx-5">
    <p class="text-center">Thank you for partaking in our crowdsourcing activity, please press the button below to go to the crowdsourcing platform, marking your submission as completed.</p>
  </div>
  <div class="d-flex justify-content-center">
    <a href="" class="btn btn-primary" role="button">Complete and go back to Prolific</a>
  <div>

{% endblock %}
